<%- include('./partials/header.ejs') %>

<div class="post">
    <form action="/edit/<%= post.id %>" method="post">
        <p>title</p>
        <input type="text" name="title" value="<%= post.title %>">
        <p>content</p>
        <input type="text" name="content" value="<%= post.content %>">
        <input type="hidden" name="id" value="<%= post.id %>">
        <input type="submit" value="MODIFY">
    </form>
</div>

<%- include('./partials/footer.ejs') %>