<%- include('./partials/header.ejs') %>

<div id="posts">
    <% if(!posts.length) { %>
        <h2>There is No posts</h2>
    <% } else { posts.forEach((post) => { %>

        <div class="post">
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <form action="/edit" method="get">
                <input type="hidden" name="id" value="<%= post.id %>"><input type="submit" value="✏️">
            </form>
            <form action="/delete" method="DELETE">
                <input type="hidden" name="id" value="<%= post.id %>"><inputp type="submit" value="❌">
            </form>
        </div>
            
       <% });
    } %>
</div>

<%- include('./partials/footer.ejs') %>